<div>
    <label for="toggle">&#9776;</label><input type="checkbox" id="toggle" onclick="showProjects()">
</div>
<div class="brows-projects-buttons">
    <h3>Brows Projects </h3> 
    {% if user.is_authenticated %}
        <div>
            <h5><a href="{% url 'create-project' %}">Create new project</a></h5>
            <h5><a href="{% url 'add-topic' %}">Edit categorys</a></h5>
        </div>
    {% endif %}
    <hr>
    <a href="{% url 'home' %}">
        <div id="about">
            <div class="topics">
                <div class="topic-name">
                    About me
                </div>
            </div>
        </div>
    </a>
    {% for topic in topics %}
    <a href="{% url 'home' %}?qt={{topic.name}}">
        <div class="topics">
            <div class="topic-name">
                {{topic.name}} 
            </div>
            <div class="topic-count">
                {{topic.project_count}}
            </div>
        </div>
    </a>
    {% endfor %}
</div>