{% extends 'main.html' %}

{% block content%}
    <div>
        <a href="{{request.META.HTTP_REFERER}}">back</a><br><br>
        <div class="topics-display">
            <small class="topic-category-name">Category: {{projects.topic.name}}</small><br>
            <div class="topics-name">
                <h1>{{projects.name}}</h1>
            </div>
            <div class="topics-body">
                <h3>{{projects.description}}</h3>
            </div>
            <div class="topics-created-info">
                <small>Created: {{projects.created}}</small>
                {% if projects.created != projects.update %}
                    <br><small>Last update: {{projects.update}}</small>
                {% endif %}
            </div>
        </div>
    </div>
    

{% endblock %}